<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Define your  dependency -->
    <bean id="myFortuneService" class="MyApp.HappyFortuneService">
    </bean>
    <!-- Define your beans here -->
    <bean id="myCoach"
          class="MyApp.TrackCoach">
        <constructor-arg ref="myFortuneService"/>

    </bean>


<bean id="myCricketCoach"
    class="MyApp.CricketCoach">
    <!-- set up setter injection -->
    <property name="fortuneService" ref="myFortuneService"/>
    <!-- set up literal values -->
    <!--<property name="emailAddress" value="a@aa.com"/>-->
    <!--<property name="team" value="ppfpf"/>-->
</bean>

</beans>